body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/static/image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center  hgnb ;
}

.conteiner{
    position: relative;
    margin: auto;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: solid rgb(224, 224, 224) 1px;
}

.resultado{
   
}

.jogo{
    position: relative;
    margin: auto 5px auto auto;
    display: flex;
    height: 500px;
    width: 800px;
}

.informacao{
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    color: #fffbfb;
    margin-top: 50px;
}

#meuFormulario{
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 22px;
    font-weight: 600;
}

.select-container {
    position: relative;
}

select {
    background-color: #333; /* Cor de fundo escura */
    border: 2px solid #444; /* Cor da borda */
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 180px;
    height: 50px;
    outline: none;
    cursor: pointer;
    color: #fff; /* Cor do texto */
}

select:focus {
    border-color: #b700ff;
    box-shadow: 0 0 5px rgba(212, 0, 255, 0.5); /* Sombra quando em foco */
    background-color: #444; /* Cor de fundo escura quando em foco */
    color: #fff; /* Cor do texto quando em foco */
    outline: none; /* Remove a borda de foco padrão */
}


select::before {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.historico{
    text-align: left;
    display: none;
    margin-top: -51px;
}

.cronometro{
    display: none;
    border: solid #ffffff 3px;
    background-color: #333;
    border-radius: 10px;
    width: 50px;
    height: 45px;
    margin-left: 100px;
}

.cronometro span{
    position: relative;
    text-align: center;
    margin: 14px 0;
    display: inline-block;
    font-weight: 600;
}

.button-box {
	width: 280px;
	margin: auto;
	position: relative;
	border-radius: 30px;
	background: #fff;
    height: 50px;
}

.toggle-btn {
    padding: 13px 15px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    font-size: 20px;
    transition: .5s;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 140px;
	height: 100%;
	background: #333;
	border-radius: 30px;
	transition: .5s;
}

#btn1{
    color: #ffffff;
}

.formTeclado {
    margin: auto auto 20px;
    position: relative;
    color: rgb(241, 218, 255);
    text-align: left;
    width: 100%;
}

.dicaCampo{
    width: max-content;
    margin: auto;
}

.conteiner #message{
    letter-spacing: 5px;
    margin-top: 30px;
}

.alfabetica {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.primeiraLinha{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.segundaLinha{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.terceiraLinha{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.numerica {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
}

.linhaNumerica{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: #1f1f1f;
    border: 1px solid #c9c6c6;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    color:#fffbfb ;
}

.tecla:hover:not(.acertou, .errou) {
    background-color: #a5a3a3;
}

.acertou {
    background-color: green;
    color: white;
    cursor: default;
    width: 44px;
    height: 44px;
    opacity: 80%;
}

.errou {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: default;
    width: 44px;
    height: 44px;
    opacity: 80%;
}
