body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/static/image/background.png');
}

.conteiner{
    position: relative;
    margin: auto 50px auto auto;
    display: flex;
    background-color: #0000008f;
}

.resultado{
   
}

.jogo{
    position: relative;
    margin: auto 50px auto auto;
    display: flex;
    height: 500px;
    width: 800px;
}

.informacao{
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    color: #fffbfb;
    margin-top: 50px;
}
label{
    font-size: 20px;
    font-weight: 600;
}

.select-container {
    position: relative;
}

select {
    background-color: #333; /* Cor de fundo escura */
    border: 2px solid #444; /* Cor da borda */
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 180px;
    outline: none;
    cursor: pointer;
    color: #fff; /* Cor do texto */
}


select:focus {
    border-color: #b700ff;
    box-shadow: 0 0 5px rgba(212, 0, 255, 0.5); /* Sombra quando em foco */
    background-color: #444; /* Cor de fundo escura quando em foco */
    color: #fff; /* Cor do texto quando em foco */
    outline: none; /* Remove a borda de foco padrão */
}

.select-container select::selection {
    background-color: #ff6600; /* Cor de fundo do item selecionado */
    color: #fff; /* Cor do texto do item selecionado */
}

select::before {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}


.formTeclado {
    margin: auto auto 20px;
    position: relative;
    color: rgb(241, 218, 255);
    text-align: left;
    width: 100%;
}

.conteiner #message{
    letter-spacing: 5px;
    margin-top: 30px;
}

.alfabetica {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}
.primeiraLinha{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.segundaLinha{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.terceiraLinha{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.numerica {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin-top: 10px;
    margin: 10px auto;
}
.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1f1f1f;
    border: 1px solid #c9c6c6;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    color:#fffbfb ;
}
.tecla:hover:not(.acertou, .errou) {
    background-color: #a5a3a3;
}

.acertou {
    background-color: green;
    color: white;
    cursor: default;
    width: 48px;
    height: 48px;
    opacity: 80%;
}
.errou {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: default;
    width: 48px;
    height: 48px;
    opacity: 80%;
}
